*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}

body{
    background-color: black;
}

.nav-bar{
    position: sticky;
    top: 0;
}
nav ul{
    background-color: white;
}

nav ul li img{
    margin-top: 5px;
    width: 75px;
    height: 75px;
}

nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.nav-btn{
    /* padding-top: 20px; */
    background-color: black;
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-btn:hover{
    background-color: green;
}

.nav-btn a {
    position: relative;
    top: 20px;
    color: white;
    text-decoration: none;
}

nav ul li{
    display: inline;
    color: black;
    font-size: larger;
    font-weight: 600;
}

.nav-bar-new{
    display: flex;
    flex-direction: row;
    column-gap: 0px;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
}

nav div.button{
    text-transform: uppercase;
    color: orangered;
    font-weight: 600;
    font-size: large;
}

.nav-bar div img{
    height: 75px;
    width: 75px;
}

.nav-bar .gymName h3{
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px 20px;
}

.nav-bar .gymName h4{
    margin: 0px 10px;
}

/* background */

main div.pimage1, div.pimage2{
    background-image:url(/Images/BackgroundPic1.png);
    background-size: 100% 100%;
    min-height: 700px;
    min-width: 500px;
}
main div.pimage2{
    background-image:url(/Images/BackgroundPic2.png);
    background-size: 100% 100%;
    min-height: 700px;
    min-width: 500px;
}

main .pimage1 p{
    padding: 10px 10px;
    /* color: white; */
    color: yellow;
    opacity: 1;
    font-weight: 600;
    font-size: large;
    justify-content: space-between;
}

main .pimage1 p:hover {
    color: black;
    zoom: 1.05;
}

main .about-container{
    padding: 100px 10px;
    max-width: 600px;
}
main .about-container .aboutGym:hover{
    background-color: greenyellow;
    opacity: 0.65;
}

.aboutGym{
    text-align: justify;
    text-transform: uppercase;
}

main .pimage2 .text{
    color: white;
    opacity: 1;
    font-weight: 600;
    font-size: large;
}

.programs.font h4{
    padding-top: 20px;
    text-transform: uppercase;
    font-size: larger;
}

/* form css */

.registration {
    background-color: black;
    color: orangered;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputfeild{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
    margin-bottom: 10px;
}

input[type="email"]{
    margin-left: 20px;
}
 
input[type="submit"]{
    width: 260px;
} 

/* main .pimage2{
    background-image:url(/Images/BackgroundPic2.png);
    height: 100% 100%;
} */

.registration{
    color: rgb(255, 64, 0);
    text-align: center;
}

/* last timing */
.gym-timing{
    /* border: 1px solid gray; */
    display: block;
    align-content: center;
}

.gym-timing{
    color: orangered;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gym-timing .box{
    /* background-color: white; */
    text-align: center;
    padding: 10px 20px;
    text-transform: uppercase;
}

.gym-timing .box:hover{
    color: black;
    /* color: white; */
    background-color: green;
}

.gym-timing .box h3{
    margin-top: 5px;
    margin-bottom: 5px;
    word-spacing: 0.2px;
}

footer{
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    column-gap: 30px;
}

footer .container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footerLinks{
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    column-gap: 80px;
}

.footerLinks .font{
    color: white;
}

.footerLinks .font h4{
    font-size: larger;
    margin-top: 25px;
    margin-bottom: 10px;
}

ul{
    padding-left: 0;
}
.address{
    color: white;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
}

.displayPosition{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.displayPosition div a img{
    padding-right: 10px;
    width: 35px;
    height: 35px;
}

.address.location{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.address.location ul{
    margin-top: 0;
}

.address.location div{
    padding-right: 10px;
}

.copyrights .pageEnd{
    display: flex;
    justify-content: center;
}

.copyrights .pageEnd div{
    margin-top: 20px;
    color: white;
    margin-bottom: 20px;
}