*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}

body{
    background-color: black;
}

/* .nav-bar {
    background-color: white;
    position: sticky;
    top:0;
    flex: auto;
    padding: 5px 10px;
    height: 75px;
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 30px;
} */

nav ul{
    background-color: white;
}

nav ul li img{
    margin-top: 5px;
    width: 75px;
    height: 75px;
}
nav ul li{
    display: inline;
    color: black;
    font-size: larger;
    font-weight: 600;
}

.nav-bar-new{
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
}

nav div.button{
    text-transform: uppercase;
    color: orangered;
    font-weight: 600;
    font-size: large;
}

.nav-bar div img{
    height: 75px;
    width: 75px;
}

.nav-bar .gymName h3{
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px 20px;
}

.nav-bar .gymName h4{
    margin: 0px 10px;
}
/* background */

main .pimage1{
    box-sizing: border-box;
    background-image:url(/Images/BackgroundPic1.png);
    height: 1080px;
}

.registration {
    background-color: black;
    color: orangered;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputfeild{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
    margin-bottom: 10px;
}

input[type="email"]{
    margin-left: 20px;
}
 
input[type="submit"]{
    width: 260px;
} 

main .pimage2{
    box-sizing: border-box;
    background-image:url(/Images/BackgroundPic2.png);
    height: 1080px;
}

/* main .pimage1{
    background-image:url(/Images/BackgroundPic1.png);
    height: auto;
    position: relative;
    opacity: 0.85;
    background-size: cover;
    margin-bottom: 10px;
}
main .pimage2{
    background-image:url(/Images/BackgroundPic2.png);
    height: 1080px;
    min-height: 50%;
    position: relative;
    opacity: 0.85;
    background-size: cover;
    margin-bottom: 10px;
} */

main .pimage1 .text{
    color: rgb(255, 64, 0);
}

.registration{
    color: rgb(255, 64, 0);
    text-align: center;
}



footer{
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    column-gap: 30px;
}

footer .container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footerLinks{
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    column-gap: 80px;
}

.footerLinks .font{
    color: white;
}

.footerLinks .font h4{
    font-size: larger;
    margin-top: 25px;
    margin-bottom: 10px;
}

ul{
    padding-left: 0;
}
.address{
    color: white;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
}

.displayPosition{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.displayPosition div a img{
    padding-right: 10px;
    width: 35px;
    height: 35px;
}

.address.location{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.address.location ul{
    margin-top: 0;
}

.address.location div{
    padding-right: 10px;
}

.copyrights .pageEnd{
    display: flex;
    justify-content: center;
}

.copyrights .pageEnd div{
    margin-top: 20px;
    color: white;
    margin-bottom: 20px;
}