*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}

body{
    background-color: black;
}

.nav-bar {
    background-color: white;
    position: sticky;
    top:0;
    flex: auto;
    padding: 5px 10px;
    height: 75px;
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 30px;
}

nav div.button{
    text-transform: uppercase;
    font-size: medium;
    color: brown;
}

.nav-bar div img{
    height: 75px;
    width: 75px;
}

.nav-bar .gymName h3{
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px 20px;
}

.nav-bar .gymName h4{
    margin: 0px 10px;

}
/* background */

main .pimage1{
    box-sizing: border-box;
    background-image:url(/Images/BackgroundPic1.png);
    height: 1080px;
    margin-bottom: 10px;
}
main .pimage2{
    box-sizing: border-box;
    background-image:url(/Images/BackgroundPic2.png);
    height: 1080px;
    margin-bottom: 10px;
}
main .pimage1 .text{
    color: red;
}

footer{
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    column-gap: 30px;
}

footer .container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footerLinks{
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    column-gap: 80px;
}

.footerLinks .font{
    color: white;
}

.footerLinks .font h4{
    font-size: larger;
    margin-top: 25px;
    margin-bottom: 10px;
}

ul{
    padding-left: 0;
}
.address{
    color: white;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
}

.displayPosition{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.displayPosition div a img{
    padding-right: 10px;
}

.address.location{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.address.location ul{
    margin-top: 0;
}

.address.location div{
    padding-right: 10px;
}

.copyrights .pageEnd{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.copyrights .pageEnd h4{
    color: white;
}